/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  .about .content ul i {
    flex-shrink: 0;
    font-size: 48px;
    color: var(--accent-color);
    margin-right: 20px;
    line-height: 0;
  }
  
  .about .content ul h5 {
    font-size: 18px;
    font-weight: 700;
  }
  
  .about .content ul p {
    font-size: 15px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .pulsating-play-btn {
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
  }
  

  /*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
.team .member {
    background-color: var(--surface-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .team .member img {
    margin: -1px -1px 30px -1px;
  }
  
  .team .member .member-content {
    padding: 0 20px 30px 20px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
  }
  
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
  }
  
  .team .member p {
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
  }
  
  .team .member .social {
    margin-top: 15px;
  }
  
  .team .member .social a {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    transition: 0.3s;
  }
  
  .team .member .social a:hover {
    color: var(--accent-color);
  }
  
  .team .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }
  